In [4]:
from transformers import pipeline
import pandas as pd
import torch

In [5]:
tqa = pipeline(task="table-question-answering", 
               model="google/tapas-base-finetuned-wtq")
table = pd.read_csv("data.csv")
table = table.astype(str)

Sachin Tendulkar

In [6]:
table

  Pos              Player          Team  ... Highest Score Average Strike Rate
0   1    Sachin Tendulkar         India  ...           200   44.83       86.23
1   2    Kumar Sangakkara     Sri Lanka  ...           169   41.98       78.86
2   3       Ricky Ponting     Australia  ...           164   42.03       80.39
3   4   Sanath Jayasuriya     Sri Lanka  ...           189   32.36        91.2
4   5  Mahela Jayawardene     Sri Lanka  ...           144   33.37       78.96
5   6         Virat Kohli         India  ...           183   59.85       93.39
6   7      Inzamam-ul-Haq      Pakistan  ...           137   39.52       74.24
7   8      Jacques Kallis  South Africa  ...           139   44.36       72.89
8   9      Saurav Ganguly         India  ...           183   41.02        73.7
9  10        Rahul Dravid         India  ...           153   39.16       71.24

[10 rows x 9 columns]

In [8]:
query = "For which team Virat Kohli played for?"
print(tqa(table=table, query=query)["answer"])

India

In [9]:
query = "Who has scored lowest runs?"
print(tqa(table=table, query=query)["answer"])

Rahul Dravid

In [13]:
query = "who are team india players?"
print(tqa(table=table, query=query)["answer"])

Sachin Tendulkar, Virat Kohli, Saurav Ganguly, Rahul Dravid

In [10]:
query = "Highest Innings played by player?"
print(tqa(table=table, query=query)["answer"])

Sachin Tendulkar

In [11]:
query = "who has highest strike rate?"
print(tqa(table=table, query=query)["answer"])

Virat Kohli